.page-wrapper.customer-page {

  section {
    padding: 60px 0;
    &:nth-of-type(even) {
      background: $light-gray;
    }
  }



  .text-container {
    position: relative;
    .icon {
      display: block;
      margin:30px auto;
      img {
        max-width: 140px;
        margin: 0 auto;
      }
    }
  }

  .content-block {
    .text-content {

      padding:40px 0;
    }

    }
}



#real-estate-page {
  &.page-wrapper .header .image-container {
    height: 100vh;
    background-image: url('/static/realestate/real_hero.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-clip: border-box;
    background-color: #010B15;
    //background: lightblue url("/static/realestate/real_hero.jpg") no-repeat fixed center;
  }
}

#retail-page {
  &.page-wrapper .header .image-container {
    height: 100vh;
    background-image: url('/static/retail/retail_hero.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-clip: border-box;
    background-color: #010B15;
  }
}

#fnb-page {
  &.page-wrapper .header .image-container {
    background-image: url('/static/fnb/fnb_hero.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-clip: border-box;
    background-color: #010B15;
  }


}

#offices-page {
  &.page-wrapper .header .image-container {
    height: 100vh;
    background-image: url('/static/offices/offices_hero.jpg');
  }


}
