#landing-page {
  .container > div {
    margin-bottom: 40px;
  }

  .h1 {
    margin-bottom: 40px;
  }


  .h2 {
    margin-bottom: 60px !important;
    &.content-block {

    }
    font-weight: normal;
  }

  #offices .h1 {
    margin-bottom: 20px;
  }

  h2.h1 {
    color: $primary;
  }

}