#landing-page {
  .container > div {
    margin-bottom: 40px;
  }

  .h1 {
    margin-bottom: 40px;
  }
  p {
    margin-bottom: 20px;
  }

  .h2 {
    margin-bottom: 60px !important;
    &.content-block {

    }
    font-weight: normal;
  }

  #offices .h1 {
    margin-bottom: 20px;
  }

  h2.h1 {
    color: $primary;
  }
  .text-content {
    .content {
      max-width: 640px;
    }
  }

  .content-block {
    margin: 60px 0;
  }
}