.page-wrapper .header .image-container {
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-clip: border-box;
  background-color: $gradient;
}

@import 'landing';
@import 'customers';
@import 'about';

//Contact page
#contact-page {
  #form {
    .py-20 {
      padding: 40px 0;
    }


  }

  #offices {
    .heading h3 {
      font-size: 18px !important;
    }
    .address-detail p{
      font-size: 14px;
    }

    a.std-link {
      margin-bottom: 10px !important;
    }
  }

  letter-spacing: -0.02em;
  #email {
    padding-bottom: 0 !important;
    h2.email-cta {
      margin-bottom: 0;
      font-size:20px;
      .highlight {
        font-size:20px;
      }
      @media (min-width: 600px) {
      }
      @media (min-width: 900px) {
        font-size:32px;
        .highlight {
          font-size:32px;
        }
      }
      @media (min-width: 1200px) {

      }
    }

  }
  .contact {
    .item {
      margin-bottom: 10px;
      font-weight: bold;
    }




  }


  #offices {
    h2.loud {
      font-size: 24px;
      margin-bottom: 30px;
      margin-top: 30px;
    }
    h3 {
      font-size: 22px;
    }
    text-align: center;
    .flex-wrapper {
      padding: 20px 20px;
    }
  }
}


//Product Detail Page
#product-detail-page {
  .product-container {
    padding: 40px 0;
    .product-img {
      .wrapper {
        padding: 30px 10px;
        margin-right: 10px;
        //background: $gradient;
      }

      img {
        max-width: 100%;
      }
    }

    .product-details {
      padding: 40px 30px;

    }

    h1 {
      margin-bottom: 24px;
    }
    .point {
      margin-bottom: 16px;
    }

  }



}