
.std-btn {
  display: inline-block;
  letter-spacing: -0.03em;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 28px;
  margin: 20px 0;
  background: $primary;
  color: white;
  border: 3px solid $primary;
  transition:all 0.2s ease-in-out;

  &:hover {
    color: $black;
    border: 3px solid $primary;
    background: white;
  }
}

a.std-link {
  display: inline-block;
  font-weight: bold;
  letter-spacing: -0.03em;
  transition: all 0.2s ease-in-out;
  color: $primary;
  margin: 20px 0 !important;
  &:hover {

  }
}

.content-block {
  padding: 10px 20px 0 0;
  .text-content {
    .content {
      max-width: 600px;
    }
  }

  .image {
    img {
      max-width: 100%;
    }
  }

  h2, h3, .h2, .h3 {
    line-height: 1.2;
    margin-bottom: 18px;
  }

  .content-block {
    margin: 60px 0;

  }

  p {
    margin-bottom: 20px;
  }


}


.product-image {
  max-width: 300px;
  padding: 20px 70px;
}



.header {
  margin-bottom: 60px;
  .header-text {
    width: 800px;
  }
  h1 {
    margin-bottom: 20px;
  }
  position: relative;
  .image-container {
    height: 100vh;
    background: lightblue url("/static/hero.jpg") no-repeat fixed center;
  }
  .header-text {
    opacity: 0.9;
    padding: 40px;
    color: white !important;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

.product-slider {
  padding: 60px 10px;
  background: $gradient;
  color: white !important;
  .swiper-slide {
    transition: all 0.1s ease-in-out;
    &:hover {
      background: rgba(255, 255, 255, 0.09);
    }
  }
  p {
    padding: 10px 20px;
    font-size: 14px;
    letter-spacing: -0.02em;

  }
}

.nav-bg {
  background: $gradient;
  height: 100px;
}

//form

.contact-form {
  .form-container {

  }
}

label {
  display:block;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.03em;
  margin: 20px 0 10px;
}

input {
  display: block;
  margin: 10px auto;
  width: 100%;
  max-width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  outline: 0;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  text-align: left;
  line-height: 1.21428571em;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  padding: .67857143em 1em;
  background: #fff;
  border: 1px solid rgba(34,36,38,.15);
  color: rgba(0,0,0,.87);
  border-radius: .28571429rem;
  -webkit-transition: border-color .1s ease,-webkit-box-shadow .1s ease;
  transition: border-color .1s ease,-webkit-box-shadow .1s ease;
  transition: box-shadow .1s ease,border-color .1s ease;
  transition: box-shadow .1s ease,border-color .1s ease,-webkit-box-shadow .1s ease;
  -webkit-box-shadow: none;
  box-shadow: none;
  &:active {
    border-color: rgba(0,0,0,.3);
    background: #fafafa;
    color: rgba(0,0,0,.87);
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  &:focus {
    border-color: #85b7d9;
    background: #fff;
    color: rgba(0,0,0,.8);
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

select {
  display: block;
  height: auto;
  width: 100%;
  padding: 5px 10px;

  //border: 1px solid rgba(34,36,38,.15);
  //border-radius: .28571429rem;
  -webkit-box-shadow: 0 0 0 0 transparent inset;
  box-shadow: 0 0 0 0 transparent inset;
  padding: .62em 1em;
  color: rgba(0,0,0,.87);
  -webkit-transition: color .1s ease,border-color .1s ease;
  transition: color .1s ease,border-color .1s ease;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  -webkit-appearance: menulist;
  box-sizing: border-box;
  align-items: center;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  background-color: rgb(248, 248, 248);
  cursor: default;
  margin: 0em;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(166, 166, 166);
  border-image: initial;
}

textarea {
  width: 100%;
  margin: 0;
  -webkit-appearance: none;
  tap-highlight-color: rgba(255,255,255,0);
  padding: .78571429em 1em;
  background: #fff;
  border: 1px solid rgba(34,36,38,.15);
  outline: 0;
  color: rgba(0,0,0,.87);
  border-radius: .28571429rem;
  -webkit-box-shadow: 0 0 0 0 transparent inset;
  box-shadow: 0 0 0 0 transparent inset;
  -webkit-transition: color .1s ease,border-color .1s ease;
  transition: color .1s ease,border-color .1s ease;
  font-size: 1em;
  line-height: 1.2857;
  resize: vertical;
}

#success-msg {
  background: $gradient !important;
  .container {
    background: $gradient;
  }

  .h-bar {
    height: 4px;
    background: $primary;

  }
  margin: 0;
  .container {
    padding: 20px 20px;
  }


  z-index: 1002;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  h3 {
    font-size: 1rem;
    margin: 0;
    color: white;
    opacity: 0.8;
    font-weight: 700;
  }
}

\