
.std-btn {
  display: inline-block;
  letter-spacing: -0.03em;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 28px;
  margin: 20px 0;
  background: $primary;
  color: white;
  border: 3px solid $primary;
  transition:all 0.2s ease-in-out;

  &:hover {
    color: $black;
    border: 3px solid $primary;
    background: white;
  }
}


.content-block {
  padding: 10px 20px 0 0;
  .text-content {
    .content {
      max-width: 600px;
    }
  }

  .image {
    img {
      max-width: 100%;
    }
  }

  h2, h3, .h2, .h3 {
    line-height: 1.2;
    margin-bottom: 18px;
  }

  .content-block {
    margin: 60px 0;

  }

  p {
    margin-bottom: 20px;
  }


}


.product-image {
  max-width: 300px;
  padding: 20px 70px;
}



.header {
  margin-bottom: 60px;
  .header-text {
    width: 800px;
  }
  h1 {
    margin-bottom: 20px;
  }
  position: relative;
  .image-container {
    height: 100vh;
    background: lightblue url("/static/hero.jpg") no-repeat fixed center;
  }
  .header-text {
    opacity: 0.9;
    padding: 40px;
    color: white !important;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

.product-slider {
  padding: 60px 10px;
  background: $gradient;
  color: white !important;
  .swiper-slide {
    transition: all 0.1s ease-in-out;
    &:hover {
      background: rgba(255, 255, 255, 0.09);
    }
  }
  p {
    padding: 10px 20px;
    font-size: 14px;
    letter-spacing: -0.02em;

  }
}

.nav-bg {
  background: $gradient;
  height: 100px;
}