.grecaptcha-badge {
  display: none;
}

.section-content {
  visibility: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 60px;
}

.primary-color, .highlight {
  color: $primary;
}


section {
  padding: 30px 0;
}

.highlight-heading {
  font-weight: bold;
  letter-spacing: 0.01em;
  margin: 40px 0 10px;

  color: $primary;
}


