html, .root {
  font-size: 14px;
  line-height: 32px;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  @media (min-width: 600px) {
    font-size: 18px;
  }
@media (min-width: 1200px) {
  font-size: 18px;
}
}
body, .article {
  font-family: "Open Sans",sans-serif;
  font-size: 1em;
  line-height: 1.4375em;
  margin: auto;
}
h1, .h1 {
  font-size: 3.375em;
  line-height: 1.1577778em;
  font-weight: bold;
  letter-spacing: -0.04em;
}
h2, .h2 {
  font-size: 2.25em;
  line-height: 1.3em;
  letter-spacing: -0.04em;
  font-weight: bold;
}
h3, .h3 {
  font-size: 1.5em;
  line-height: 1.4em;
  letter-spacing: -0.03em !important;
  font-weight: bold;
  margin-bottom: 12px;
}
h4, .h4 {
  font-size: 1em;
  letter-spacing: -0.02em;
  line-height: 1.6;
}
h5, .h5 {
  font-size: 1em;
  line-height: 1.4375em;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 0em;
  letter-spacing: -0.01em;
  line-height: 1.6 !important;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0em;
  margin-bottom: 0em;
}

/* Let's make sure all's aligned */
hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}

sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

.loud {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-transform: uppercase;

}