//Header
header {
  nav {
    transition: all 0.2s ease-in-out;
    background: transparent;
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    padding: 0 20px;
    &.scrolled {
      background: white;
      box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.04), 0 1px 2px rgba(0, 0, 0, 0.12);
      .list a.link, .link-head {
        color: $black;
        &:hover {
          color: $primary;
        }
      }
      .mobile-nav .mobile-nav-btn{

        color: black;
        &:focus, &:active {
          color: $primary;
        }
      }
    }
    .list {
      display: none;
        padding: 25px 0;
      }



    @media (min-width: 600px) {

    }
    @media (min-width: 900px) {

      .mobile-nav {
        display: none;
      }
      .list {
        display: block;
      }
    }
    @media (min-width: 1200px) {
    }
    .brand {
      max-width: 100px;
      padding: 5px;
    }


  }
  .list .nav-link, .list .nav-link-group>.link-head {
    display: inline-block;
    font-weight: bold;
    padding: 10px 10px;
    margin-right: 10px;
  }
}

nav {

  .list .nav-link-group {
    .drop-down.first {
      min-width: 260px;
    }
    position:relative;
    .drop-down {
      min-width: 200px;
      background: white;
      padding: 10px 20px;
      display: none;
      position:absolute;
      a.link {
        background: white;
        color: $black;
        font-weight: bold;
        padding: 10px;
        display: block;
        &:hover {
            color: $primary;
        }
      }
    }
    &:hover {
      .link-head {
        color: $primary;
      }

      .drop-down {
        display: block;
      }
    }
  }

.list .nav-link-group {
  display: inline-block;
}

  .list a.link, .link-head {
    color: white;
    opacity: 0.9;
    font-size: 16px;
    letter-spacing: -0.03em;
    transition: all 0.1s ease-in-out;
    &:hover {
      color: $primary;
    }
  }



  .mobile-nav #mobile-menu-btn .btn{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.03em;
    color: white;
    padding:40px 10px 15px !important;
  }

  &.scrolled {
    .mobile-nav #mobile-menu-btn .btn{
      font-size: 20px;
      font-weight: bold;
      color: black;
      padding:40px 10px 15px !important;
    }
  }

  .mobile-nav-container {
    transition: all 0.2s ease-in-out;
    padding-top: 40px;
    position: fixed;
    z-index: 1005;
    height: 100vh;
    overflow: scroll-y;
    width: 100%;
    background: $gradient;
    left: 0;
    top: 0;


    #mobile-menu-close {
      position: fixed;
      right: 0;
      top:0;
      padding: 40px;
      img {
        max-width: 20px;
      }
    }

    .logo  {
      img {
        max-width: 100px;
        margin:0 auto;
        padding: 10px;
      }
    }

  }


  .mobile-nav {
    .link-head {
      font-size: 14px;
      color: $primary !important;
      letter-spacing: 0.4em;
      text-transform: uppercase;
      padding-bottom: 10px;
    }

    .link, .link-head {
      display: block;
      width: 100%;
      color: white;
      font-size: 24px ;
      font-weight: bold;
      padding: 20px 0 ;
      text-align: center;
    }
  }

}




//Footer
footer {
  padding: 60px 0;

  .footer-heading {
    font-size: 14px;
    text-transform: uppercase ;
    margin-bottom: 10px;
  }
  .footer-nav-section {
    width: 100%;
    font-size: 18px;
    text-align: center;
    @media (min-width: 600px) {

    }
    @media (min-width: 900px) {
width:auto;
      font-size: 14px;
      text-align: left;
      margin-right: 40px;
    }
    @media (min-width: 1200px) {

    }

  }
  a.footer-nav-link {
    @media (min-width: 600px) {

      padding: 20px;
      font-size: 18px;


    }
    @media (min-width: 900px) {

    }
    @media (min-width: 1200px) {

      margin-right: 40px;
    }




    font-weight: bold;
    display: block;
    letter-spacing: -0.02em;
    margin-bottom: 10px;
    &:hover {
      color: $primary !important;
    }
  }
  .footer-heading {
    color: $primary;
  }

  .footer-link {
    margin-right: 20px;
    font-weight: bold;
    &:last-of-type {
      margin-right: 13px;
    }
    &:hover {
      color: $primary;
    }
  }
  .brand {
    top: -120px;
    position: absolute;
    max-width: 100px;
    padding: 5px;
  }

  .bottom-nav a {
    font-size: 14px;
  }
}

footer .footer-menu a.footer-nav-link {
  padding: 10px 0 ;
  font-size: 18px !important;

  @media (min-width: 600px) {



  }
  @media (min-width: 900px) {
    padding: 0;
    font-size: 14px ;
  }
  @media (min-width: 1200px) {


  }
}

footer .footer-menu a.footer-nav-link {

}

.bottom-nav {
  position: relative;
  margin-top:20px;
  .brand{
    position: static;
    max-width: 200px;
    margin:20px auto;
  }

  a.footer-link {
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }
  @media (min-width: 600px) {

  }
  @media (min-width: 900px) {
    .brand{
      position: absolute;
      right: 0;
      bottom: 140px;
      max-width: 120px;
      margin:0;
    }
    a.footer-link {
      display: inline-block;
      text-align: right;
      margin-bottom: 20px;
    }
  }

  @media (min-width: 1200px) {


  }
}