
$primary: #eb1f27;
$black: rgba(1, 11, 21, 0.85);
$gray: #444444;
$light-gray: #f5f5f5;
$gradient: linear-gradient('270deg', #010B15, #0A1F34);
$slider-gradient: linear-gradient("270deg", #071a2d, #1c3c5d);
$white: white;
